{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/polls/">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
	<form action="/polls/user/" method="post">
	    {% csrf_token %}
		<h4 class="text-center"> <strong> Логин: </strong>  <input type="text" name="param1"> </input> </h4>
		<h4 class="text-center"> <strong> Пароль: </strong>  <input type="password" name = "param2"> </input> </h4>
		<button type="submit" class="btn btn-default center-block">Войти</button>
	</form>
	</div>
</div>