{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h2 class="text-center"> <strong> Последнее в кино </strong></h2>
<br>
{% if latest_movie_list %}
    {% for movie in latest_movie_list %}
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="{% static 'polls/movieImg/' %}{{movie.id}}.jpg" class="center-block" width = 300, height = 400>
        <br>
        <a href="/polls/movie/{{ movie.id }}/"> <h4 class="text-center"> <strong> {{ movie.name }} </strong></h4> </a>        
    </div>
    {% endfor %}
{% else %}
    <p>No films</p>	
{% endif %}
</div>