{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/polls/">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="text-center">{{ movie.name }}</h1>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-4">
	<h3 class="text-center"> <strong>О фильме</strong></h3>
	<br> 
    <h4 class="text-center"> <strong> Жанр: </strong> {{movie.genre}} </h4>
    <br>
    <h4 class="text-center"> <strong> Год: </strong> {{movie.year}} </h4>
    <br>
    <h4 class="text-center"> <strong> Продолжительность: </strong> {{movie.time}} минут </h4>
    <br>
    <h4 class="text-center"> <strong> Рейтинг: </strong> {{movie.user_avg}} </h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
    <h3 class="text-center"> <strong>Люди</strong></h3>
	<br> 
    {% for personmovie in movie.personmovie_set.all %}
            <h4>{{personmovie.role}}:</h4><a href="/polls/person/{{personmovie.idactor.id}}/"><h4>{{personmovie.idactor }}</h4></a>
    {% endfor %}    
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
    <img src="{% static 'polls/movieImg/' %}{{movie.id}}.jpg" class="center-block" width = 300, height = 450>
    </div>
</div>
</div>