{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/polls/">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li class="active"><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
{% if people_list %}
    {% for people in people_list %}
    <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="{% static 'polls/peopleImg/' %}{{people.id}}.jpg" class="center-block" width = 250, height = 350>
        <br>
        <a href="/polls/person/{{ people.id }}/"> <h4 class="text-center"> <strong> {{ people.name }} {{ people.second_name }} </strong></h4> </a>        
    </div>
    {% endfor %}
{% else %}
    <p>No films</p>	
{% endif %}