{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/polls/">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="text-center">{{ person.name }} {{ person.second_name }}</h1>
    <br>
    <div class="col-lg-4 col-md-4 col-sm-4">
	<h3 class="text-center"> <strong>Об актере</strong></h3>
	<br> 
    <h4 class="text-center"> <strong> Имя: </strong> {{person.name}} </h4>
    <br>
    <h4 class="text-center"> <strong> Фамилия: </strong> {{person.second_name}} </h4>
    <br>
    <h4 class="text-center"> <strong> День рождения: </strong> {{person.birthday}} минут </h4>
    <br>
    <h4 class="text-center"> <strong> Страна: </strong> {{person.country}} </h4>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
    <h3 class="text-center"> <strong>Фильмы</strong></h3>
	<br> 
    {% for personmovie in person.personmovie_set.all %}
            <h4>{{personmovie.role}} фильма:</h4><a href="/polls/movie/{{personmovie.idmovie.id}}/"><h4>{{personmovie.idmovie }}</h4></a>
    {% endfor %}    
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
    <img src="{% static 'polls/peopleImg/' %}{{person.id}}.jpg" class="center-block" width = 300, height = 450>
    </div>
</div>