{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" id="title">Кинолист</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/polls/">Главная</a></li>
      <li><a href="/polls/movies">Фильмы</a></li>
      <li><a href="/polls/people">Люди</a></li> 
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/polls/auth">Войти</a></li> 
    </ul>
  </div>
</nav>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="col-lg-1 col-md-1 col-sm-1">
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7">		
		<h4> <strong> Логин: </strong> {{user.login}} </h4>
		<h4> <strong> Почта: </strong> {{user.email}} </h4>		
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<form action="/polls/user/" method="post">
				{% csrf_token %}
				<h4> <strong> Фильм: </strong>  
				<select type="text" name="param3"> </input> 
					{% if movie_list %}
						{% for movie in movie_list %}
							<option>{{movie.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
				<h4> <strong> Оценка: </strong>  <input type="text" name = "param4"> </input> </h4>
				<input type="hidden" name = "param1" value={{user.login}}></input>
				<input type="hidden" name = "param2" value={{user.password}}></input>
				<button type="submit" class="btn btn-default center-block">Добавить</button>
			</form>
		</div>
		<br>
		<br>
		<br>
		<br>
		<h2 class="text-center"> <strong>Просмотренные фильмы</strong></h2>
		<br>
		<br>
		<div class="col-lg-2 col-md-2 col-sm-2">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10">		
		<br> 
		{% for usermovie in user.usermovie_set.all %}
				<h4><strong> Фильм: </strong><a href="/polls/movie/{{usermovie.idmovie.id}}/">{{usermovie.idmovie }}</a>  <strong>Оценка:</strong> {{usermovie.mark}} </h4>
		{% endfor %}    
		</div>
	</div>
</div>